{% extends 'base.html.twig' %}

{% block title %}apropos{% endblock %}

{% block body %}
<body style="background-color: azure;">
    
    <div style="padding:10%">
        
        <h1 class="text-center">Apropos</h1>
        
        
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque aut laboriosam ad, repellendus sapiente, dignissimos doloribus officia suscipit aliquam voluptatibus a quisquam eius labore, laborum unde consequatur tempora maiores dicta.
    </div>
</body>

{% endblock %}